           

.col-1 {width:8.33%;}
.col-2 {width:16.6%;}        
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.6%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

             /*navbar start here*/
             .navbar{
                position:sticky;
                top:0px;
                z-index:1;
                   
             }

.nav-logo{
            text-align:left;
        
}
.nav-header{
            
            text-align:right;
}
.nav-menu{
            
            flex-direction:row;
            justify-content:flex-end;
            
}
.nav-header{
             padding-top:25px;
}
.nav-menu a{    border-radius:0px;
                padding:5px 10px;
                margin:20px 0;
                background-color:transparent;
}
.nav-menu a:hover{
                    background-color:gray;
}
                /*navbar end here*/

                /*profile starts here*/
.profile p{
                width:50%;
}
.profile .top-icon{
                    height:100px;
                    width:120px;
                    position:absolute;
                    right:100px;
                    top:20px;
                    transition:width 2s, transform 2s;
    }
.profile .top-icon:hover{
                    width:140px;

    }
.profile .bottom-icon{
                height:100px;
                width:120px;
                position:absolute;
                left:60px;
                bottom:20px;
                transition:width 2s, transform 2s;
}
.profile .bottom-icon:hover{
                width:140px;
            }

                /*profile ends here*/


                /*about me stsrts here*/

.aboutme-image{
                margin-top:100px;
}
.aboutme-image img{
                    height:270px;
                    width:250px;
}
.aboutme-desc p{
                text-align:left;
}

                        /*about me end here*/

                        /*professional section strats here*/
.professional-experience{
                           padding:1% 5%;
}

                        /*professional section ends here*/
                         
                        /*achievement contact starts here*/
.contact-links{
                        position:relative;
}
.media-button{
                        position:absolute;
                        left:50%;
                        top:50%;
                        transform:translate(-50%,-50%);
                        margin-top:180px;
}
.contact{
                        padding-left:50px;
}           
                        /*achievement contact endsa here*/

                        /*footer starts here*/


.footer-menu{
                        margin-top:15px;
                        text-align:left;

}
.footer-menu a{
                        display:inline;
                        padding:15px;

                        
}
.footer-desc{
                    text-align:right;
}
                        /*footer ends here*/