.jibon{color:green;font-size:30px; font-family:fantasy;}
.hasan{color:pink; font-family:fantasy;}
.zahid{color:violet}
#jahid{color:purple;}
#font{font-size:50px;}
.font-style{font-size:50px;font-family: 'Modak', cursive;text-align:center;color:red;}
.decoration h1{text-align:center; text-decoration:underline;color:rgb(14, 123, 160);}
.decoration p{text-indent:100px;}
.align{text-align:justify;}
.capitalize{text-transform:capitalize;}
.shadow{text-shadow:5px 3px green; text-align:center;font-size:50px;}
.emoji{color:red;font-size:60px;}
.emoji-style{font-size:30px;text-align:center;color:rgb(92, 21, 65)}
.emoji-size{font-size:40px;}
#float1{float:left;background-color:green; height:70px;}
#float2{float:right; background-color:violet; height:70px;}
#float3{background-color:yellow;}
#clear-div{clear:both;}
#margin1{background-color:olive; width:180px;}
#margin2{background-color:plum; width:180px;margin:20px 5px 20px 40px;}
#margin3{background-color:gray; width:180px;margin:20px 5px 20px 80px;}
.padding1{background-color:green;width:180px;padding:5px 20px; margin:0 auto;}
.padding2{background-color:yellow;width:180px;padding:5px 20px;}
.border{border:3px solid red;width:230px;text-align:center;background-color:lightblue;border-radius:15px;margin:0 auto;}
.border2{border:3px dotted purple;width:200px;text-align:center;}
.border3{border-left:5px solid red;border-right:5px solid orange;border-bottom:5px solid blue;border-top:5px solid violet;width:180px;text-align:center;font-family:arial;border-radius:30px;}

.nav-menu{width:600px;height:80px;background-color:rgb(77, 36, 38);margin:0 auto;}
.nav-menu ul li{list-style-type:none;margin:30px;float:left;}
.nav-menu ul li a{ text-decoration:none; font-size:25px;color:white;cursor: pointer;}
.nav-menu ul li a:hover{text-decoration: underline;}
#element{background-color:lightblue;display:inline;}
.gradient{height:250px;width:100%;background-image:linear-gradient(to right,red,green,yellow,blue,gray)}
.gradient2{height:250px;width:600px;background-image:radial-gradient(circle,yellow,blue,pink,orange,cyan);margin:0 auto;}